@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.design{
    margin-left: auto;
}
.navbar{
    background-color:  #fff !important;
}

.navbar-brand{
    font-size: 1.9rem !important;
    color:#565387 !important ;
}
.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active{
font-weight: bold;
border-bottom: 1px solid #565387;
}

.navbar a:hover{
    color: #3498db !important;
}

@media (max-width:991px)
{
    .navbar-brand{
        font-size: 1.5rem !important;
    }
    .menu_active{
        border-bottom: none;
    }
}
.button{
    border-radius: 20px !important;
}

#header{
    width: 100%;
   min-height: 70vh;
    margin-top: 70px;
}
#header h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;

}
@media (max-width:991px){
    #header h1{
        margin: 0 0 10px 0;
        font-size: 25px;
        font-weight: 700;
        color: black;
    
    }   
    #header h2{
        font-size: 20px !important;
    }
}
#header .brand-name{
    color: #3498db;
}
#header h2{
    color: #484848;
    font-size: 24px;
}
footer p{
    margin: 0px;
}
footer{
    margin-top: auto;
    background-color: red !important;
    padding: 4px 0px;
 min-height: 30px;
}